release/deBlob_Manual_apworlds_V3.zip
release/deBlob2_Steam_AudioPatch.zip
release/manual_deBlob1_Iristallite.apworld
release/Manual_deBlob1_Iristallite.yaml
release/Manual_deBlob2_Iristallite.apworld
release/Manual_deBlob2_Iristallite.yaml
release/Manual_deBlob2DS_Iristallite.apworld
release/Manual_deBlob2DS_Iristallite.yaml
